<footer class="footer">
  <a class="footer_item" target="_blank" href="https://www.facebook.com/harry.whelchel.5">Facebook</a>
  <a class="footer_item" target="_blank" href="https://www.instagram.com/harrywhelchel/">Instagram</a>
  <a class="footer_item" target="_blank" href="https://x.com/howdyitsharry">X</a>
  <a class="footer_item" target="_blank" href="https://www.tiktok.com/@harrywhelchel">TikTok</a>
  <a class="footer_item" target="_blank" href="https://www.linkedin.com/in/harrywhelchel/">LinkedIn</a>
  <span class="footer_item">&copy; {{ site.time | date: "%Y" }}</span>
</footer>
<script src="/assets/js/main.js" defer="defer"></script>
<script src="/assets/js/galite.js"></script>
<script>
  var galite = galite || {};
  galite.UA = "{{ site.google_analytics }}";
</script>
