<footer class="footer">
  <a class="footer_item" target="_blank" href="https://learn.harrywhelchel.com">Learn</a>
  <a class="footer_item" target="_blank" href="https://www.facebook.com/harry.whelchel.5">Facebook</a>
  <a class="footer_item" target="_blank" href="https://www.linkedin.com/in/harrywhelchel/">LinkedIn</a>
  <a class="footer_item" target="_blank" href="https://usevouch.com">Vouch</a>
  <span class="footer_item">&copy; {{ site.time | date: "%Y" }}</span>
</footer>
<script src="/assets/js/main.js" defer="defer"></script>
<script src="/assets/js/galite.js"></script>
<script>
  var galite = galite || {};
  galite.UA = "{{ site.google_analytics }}";
</script>
